body {
  margin: 0;
  font-family: sans-serif;
  background: whitesmoke;
}

.container {
  width: 100%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #8edc8a;
  align-items: center;
}

.logo {
  margin-top: -2px;
  transform: scale(1);
  padding: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.618);
  border-radius: 10px;
  transition: 0.3s;
}

.logo:hover {
  transition: 0.3s;
  box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.5),
    0px 0px 0px 1px rgba(0, 0, 0, 0.618);
}

.links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}
/*====================================*/

#language {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  /* margin: 0 auto; */
  height: 48px;
}

.select-language {
  display: inline;
  width: 45%;
  font-size: 30px;
  align-content: center;
}
#from-language {
  text-align: right;
}

.btnChangeLanguage {
  width: 10%;
  text-align: center;
  align-content: center;
}

#to-language {
  text-align: left;
}

.btnChangeLanguage img {
  border: none;
  border-radius: 50%;
}

.btnChangeLanguage img:hover {
  transition: 0.3s;
  box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.5),
    0px 0px 0px 1px rgba(0, 0, 0, 0.618);
}
/*====================================*/
main {
  display: flex;
  padding: 10px;
  gap: 20px;
}

.camera-section {
  background-color: #8edc8a;
  position: relative;
  width: 50%;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.618);
  text-align: center;
  box-sizing: border-box;
}

video {
  width: auto;
  height: 100%;
  object-fit: fill;
  border-radius: 12px;
}

.letter {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 28px;
  font-weight: bold;
}

.confidence {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 20px;
  color: green;
}

/*=============================================*/
.console-section {
  width: 50%;
  height: 400px;
  flex-grow: 1;
  background: black;
  color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.console-header {
  color: black;
  display: flex;
  background-color: #c29494;
  font-weight: bold;
  height: 10%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.console-header > div {
  width: 90%;
  align-content: center;
  text-align: center;
}

.console-header .buttons {
  display: contents;
}

.buttons button {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  margin: 0 auto;
  align-self: center;
}

#btnClose {
  background-color: red;
}
#btnRestoreWindows {
  background-color: green;
}

#btnMinimize {
  background-color: yellow;
}

.console-body {
  flex-grow: 1;
  font-size: 20px;
  padding: 10px;
}
/*=============================================*/

#resultConsole{
  width: 100%;
  height: 100%;
  background: black;
  color: aliceblue;
  text-align: justify-all;
  border-radius: 12px;
  font-size: 20px;
}

